# Folders
node-hadid/src/
node-hadid/tests/
py_hadid/
assets/
shared/

# Config files
.pre-commit-config.yaml
.editorconfig
MANIFEST.in
commitlint.config.js
poetry.lock
pyproject.toml
setup.cfg
setup.py
Makefile
eng.traineddata
.env
.envrc
.env*

# File types
*.ts

# Keep type declarations
!.gitignore
!node-hadid/dist/**/*.d.ts
